/*!**
  title: Footer
  section: Main Footer
  description: This is the main footer.
  example: |
    footer.footer.footer--main(style='position:static;')
        .container
            .row
                .footer__social-list
                    .container
                        .row
                            each val, index in [{name: 'linkedin'},{name: 'twitter'},{name: 'facebook'}]
                                a(href="")
                                    svg(viewbox='0 0 100 100')
                                        use(xlink:href='includes/symbols.svg#icon_#{val.name}')
                .footer__subnav
                    .container
                        .row
                            a(href="#", target="_blank") Legal
                            a(href="#", target="_blank") Privacy Policy
                            a(href="#", target="_blank") Cookie Policy
                            span &copy;2015 all rights reserved
***/
.number-block
    display block
    height 499px
    text-align center
    position relative
    // margin 50px 0
    +below(1080px)
        height auto !important
        overflow hidden
        a
            color white !important
    
        
.lt-ie11 .number-block
    overflow hidden
    
.number-block__img
    height inherit
    width 760px
    float right
    position: relative
    z-index 0
    cf()
    &.is-2
        background:url("../img/section_2_1x.jpg") no-repeat; 
        background-size: cover; 
        background-position:50% 0%
        @media screen and (max-width: 1080px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1080px) and (min-resolution: 192dpi)
            background:url("../img/section_2_2x.jpg") no-repeat; 
            background-size: cover; 
            background-position:50% 0%
    &.is-3
        background:url("../img/section_3_1x.jpg") no-repeat; 
        background-size: cover; 
        background-position:50% 0%
        @media screen and (max-width: 1080px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1080px) and (min-resolution: 192dpi)
            background:url("../img/section_3_2x.jpg") no-repeat; 
            background-size: cover; 
            background-position:50% 0%
    &.is-4
        background:url("../img/section_4_1x.jpg") no-repeat; 
        background-size: cover; 
        background-position:50% 0%
        @media screen and (max-width: 1080px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1080px) and (min-resolution: 192dpi)
            background:url("../img/section_4_2x.jpg") no-repeat; 
            background-size: cover; 
            background-position:50% 0%
    &.is-5
        background:url("../img/section_5_1x.jpg") no-repeat; 
        background-size: cover; 
        background-position:50% 0%
        @media screen and (max-width: 1080px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1080px) and (min-resolution: 192dpi)
            background:url("../img/section_5_2x.jpg") no-repeat; 
            background-size: cover; 
            background-position:50% 0%
    +below(1080px)
        width 100%
        float none
        min-height auto
        height auto
        background none !important
    
.number-block.is-right
    .number-block__img
        width (1080px - 432px)
        float left
        +below(1080px)
            width 100%
            float none
    
.number-block__col
    float left
    +below(1080px)
        float none
    
.number-block__text
    background-color white
    width 319px
    height:inherit
    position relative
    // p
    //     text-align justify
    .center
        width 70%
    +below(1080px)
        width 100% !important
        background-color blue
        color white
        min-height 350px
        height auto
        .center
            width 50%
            
    +below(640px)
        .center
            width 60%
            left auto
            right 5%
            transform translate(0, -50%)
    +below(440px)
        .center
            right 5%
            width 45%
            &.special
                width: 60%
    
.number-block.is-right
    .number-block__text
        float right
        width 432px
        .center
            width 60%
        +below(1080px)
            width 100%
            float none
            .center
                width 50%
        +below(640px)
            .center
                right auto
                left 16px
                width 50%
                transform translate(0, -50%)
        +below(440px)
            .center
                width 45%

.big-number
    color blue
    position absolute
    fs(770px)
    top px(240)
    font-family boldcond
    line-height 0
    left px(-155)
    z-index 100
    pointer-events: none
    &.is-1
        fs(1000px)
        top 294px
        left px(-148)
        +below(1150px)
            left px(-75)
        +below(540px)
            left px(-50)
    
    +below(1150px)
        left px(-55)
    +below(1080px)
        color white
        fs(550px)
        top 170px
        &.is-2
            fs(550px)
        &.is-1
            fs(560px)
            top 166px
.number-block.is-right
    .big-number
        right px(-155)
        left auto
        +below(1150px)
            right px(-55)
        &.is-4
            fs(800px)
            top 230px
            right px(-120)
            +below(1150px)
                right px(-53)
            +below(1080px)
                top 172px
                fs(550px)
.lt-ie10 .number-block
    .big-number
        left 0 !important
        right 0 !important
        margin auto
    &.is-right
        .big-number
            margin auto
            left 0 !important
            right 0 !important
        