/*!**
  title: Footer
  section: Main Footer
  description: This is the main footer.
  example: |
    footer.footer.footer--main(style='position:static;')
        .container
            .row
                .footer__social-list
                    .container
                        .row
                            each val, index in [{name: 'linkedin'},{name: 'twitter'},{name: 'facebook'}]
                                a(href="")
                                    svg(viewbox='0 0 100 100')
                                        use(xlink:href='includes/symbols.svg#icon_#{val.name}')
                .footer__subnav
                    .container
                        .row
                            a(href="#", target="_blank") Legal
                            a(href="#", target="_blank") Privacy Policy
                            a(href="#", target="_blank") Cookie Policy
                            span &copy;2015 all rights reserved
***/
.number-block
    display block
    height 499px
    text-align center
    position relative
    +below(960px)
        height auto !important
        
.lt-ie11 .number-block
    overflow hidden
    
.number-block__img
    height inherit
    width 640px
    float right
    cf()
    +below(960px)
        width 100%
        float none
        min-height auto
        height auto
    
.number-block.is-right
    .number-block__img
        width (960px - 432px)
        float left
        +below(960px)
            width 100%
            float none
    
.number-block__col
    float left
    +below(960px)
        float none
    
.number-block__text
    background-color white
    width 319px
    height:inherit
    position relative
    .center
        width 70%
    +below(960px)
        width 100% !important
        background-color blue
        color white
        min-height 350px
        height auto
        .center
            width 300px
            
    +below(640px)
        .center
            width 60%
            left auto
            right 5%
            transform translate(0, -50%)
    +below(440px)
        .center
            right 10%
            width 45%
    
.number-block.is-right
    .number-block__text
        float right
        width 432px
        .center
            width 60%
            
        +below(960px)
            width 100%
            float none
            .center
                width 300px
        +below(640px)
            .center
                right auto
                left 30px
                width 50%
                transform translate(0, -50%)
        +below(440px)
            .center
                width 45%

.big-number
    color blue
    position absolute
    fs(770px)
    top 240px
    font-family boldcond
    line-height 0
    left px(-55)
    z-index 1
    pointer-events: none
    &.is-1
        fs(630px)
        top 190px
    &.is-4
        fs(800px)
        top 230px
    +below(960px)
        color white
        fs(550px)
        top 170px
        &.is-4
            top 172px
            fs(600px)
        &.is-2
            fs(580px)
        &.is-1
            fs(560px)
            top 160px
.number-block.is-right
    .big-number
        right px(-55)
        left auto