body,input[type="submit"].button--primary,.button--primary,.button--primary--large,input[type="submit"].button--secondary,.button--secondary,.button--secondary--inverted,.button--cancel,textarea,input
	{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

html,body,div,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,ol,ul,li,form,legend,label,table,header,footer,nav,section,figure,button,main
	{
	margin: 0;
	padding: 0
}

header,footer,nav,section,article,hgroup,figure,main {
	display: block
}

.is-hidden {
	display: none !important;
	visibility: hidden !important
}

.is-vishidden {
	position: absolute !important;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	clip: rect(1px, 1px, 1px, 1px)
}

.is-disabled {
	opacity: 0.4;
	pointer-events: none;
	cursor: default
}

body {
	font: 14px/1.4 "Arial", sans-serif;
	-webkit-text-size-adjust: 100%;
	color: #333
}

@media print {
	body {
		color: #000;
		background: #fff
	}
}

a {
	color: #0a84c1;
	text-decoration: none;
	outline: 0;
	cursor: pointer;
	background: transparent
}

a:hover,a:focus {
	color: #085397
}

p {
	margin-bottom: 1em
}

mark {
	background: #ff6
}

sup {
	font-size: 0.6em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em
}

.footnote {
	font-size: 12px;
	line-height: 1.3em
}

b,strong {
	font-weight: bold
}

img {
	border: 0
}

hr {
	border: 0;
	height: 1px;
	background: #f5f5f5;
	margin: 2em 0
}

ol,ul {
	list-style: none
}

h1,h2,h3,h4 {
	font-weight: normal;
	line-height: 1.2
}

h1 {
	font-size: 36px
}

h2 {
	font-size: 26px
}

h3 {
	font-size: 18px
}

h4 {
	font-size: 18px
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

input[type="submit"].button--primary,.button--primary,.button--primary--large,input[type="submit"].button--secondary,.button--secondary,.button--secondary--inverted,.button--cancel
	{
	padding: 10px 16px 11px;
	border: 0 none;
	outline: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-transition: all 0.12s ease-in-out;
	-o-transition: all 0.12s ease-in-out;
	-webkit-transition: all 0.12s ease-in-out;
	transition: all 0.12s ease-in-out;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	font-weight: normal;
	font-size: 16px;
	position: relative;
	line-height: 1.1;
	font-family: inherit;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent
}

@media only screen and (max-width: 767px) {
	.touch input[type="submit"].button--primary,.touch .button--primary,.touch .button--primary--large,.touch input[type="submit"].button--secondary,.touch .button--secondary,.touch .button--secondary--inverted,.touch .button--cancel
		{
		width: 100%
	}
}

input[type="submit"].button--primary:hover,.button--primary:hover,.button--primary--large:hover,input[type="submit"].button--secondary:hover,.button--secondary:hover,.button--secondary--inverted:hover,.button--cancel:hover,input[type="submit"].button--primary:focus,.button--primary:focus,.button--primary--large:focus,input[type="submit"].button--secondary:focus,.button--secondary:focus,.button--secondary--inverted:focus,.button--cancel:focus
	{
	color: #fff
}

input[type="submit"].button--primary i,.button--primary i,.button--primary--large i,input[type="submit"].button--secondary i,.button--secondary i,.button--secondary--inverted i,.button--cancel i
	{
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	position: absolute
}

input[type="submit"].button--primary,.button--primary,.button--primary--large
	{
	background: #47a216;
	color: #fff
}

input[type="submit"].button--primary:hover,.button--primary:hover,.button--primary--large:hover,input[type="submit"].button--primary:focus,.button--primary:focus,.button--primary--large:focus
	{
	background: #3c910e
}

input[type="submit"].button--secondary,.button--secondary {
	background: #0a84c1;
	color: #fff
}

input[type="submit"].button--secondary:hover,.button--secondary:hover,input[type="submit"].button--secondary:focus,.button--secondary:focus
	{
	background: #085397
}

.button--secondary--inverted {
	background: #fff;
	color: #0a84c1
}

.button--secondary--inverted:hover,.button--secondary--inverted:focus {
	color: #085397
}

.button--cancel {
	background: #fff;
	color: #df000f
}

.button--cancel:hover,.button--cancel:focus {
	color: #c6000d
}

.button--primary--large {
	font-size: 20px
}

label {
	display: block;
	padding-bottom: 0.18em;
	color: #333;
	cursor: pointer
}

input[type="text"],input[type="email"],input[type="password"],input[type="tel"],input[type="number"],input[type="search"],input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration,input[type="submit"],input[type="url"],textarea
	{
	-webkit-appearance: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0
}

input[type="text"],input[type="email"],input[type="password"],input[type="tel"],input[type="number"],input[type="search"],input[type="url"],textarea
	{
	outline: 0;
	background: #fff;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	border: 1px solid #dadada;
	cursor: text
}

input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus,input[type="tel"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="url"]:focus,textarea:focus
	{
	border-color: #8b8b8b;
	-moz-box-shadow: #cae4f2 0 0 5px;
	-webkit-box-shadow: #cae4f2 0 0 5px;
	box-shadow: #cae4f2 0 0 5px
}

input[type="text"],input[type="email"],input[type="password"],input[type="tel"],input[type="number"],input[type="search"],input[type="url"],.select-contain,textarea
	{
	width: 170px
}

input,select,textarea,.select-contain {
	font-family: inherit;
	font-size: 100%;
	margin: 0 1px 0
}

textarea,input {
	padding: 0.5em 0.65em 0.6em 0.65em
}

input[type="checkbox"],input[type="radio"] {
	width: auto;
	margin-right: 0.3em
}

.field-container {
	margin-bottom: 1em
}

.field-container.has-error label {
	color: #df000f
}

.field-container.has-error input,.field-container.has-error .select-contain
	{
	border-color: #df000f
}

.field-container.has-error textarea {
	border-color: #df000f
}

.field-container .calendar,.field-container .search {
	position: relative
}

.field-container .calendar i,.field-container .search i {
	position: absolute;
	color: #0a84c1;
	left: 9px;
	top: 9px
}

.field-container .calendar input,.field-container .search input {
	padding: 0.5em 0.65em 0.6em 2em
}

.select-contain {
	border: 1px solid #dadada;
	overflow: hidden;
	background-color: #fff;
	position: relative
}

.select-contain:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: inset 5px;
	border-color: #0a84c1 transparent transparent transparent;
	border-top-style: solid;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	position: absolute;
	top: 0.9em;
	right: 10px;
	pointer-events: none;
	display: none\0
}

.select-contain select {
	padding: 0.5em 2em 0.6em 0.65em;
	padding-right: 0.65em\0;
	width: 100%;
	border: none;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #333;
	cursor: pointer
}

.select-contain select:focus {
	outline: none
}

@
-moz-document url-prefix (){ .
	select-contain select{width: 110%
}

}
.alert-success,.alert-info,.alert-danger {
	padding: 10px 20px;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	width: 100%
}

.alert-success {
	background: #ebfae4;
	color: #3c910e
}

.alert-info {
	background: #ff6;
	color: #333
}

.alert-danger {
	background: #FEDFE1;
	color: #df000f
}