.global-header__nav-collapsed .is-static, .global-header__currency .is-active
	{
	color: #333;
	cursor: default;
	pointer-events: none
}

.global-header__top-level-link,
	.global-header__nav-collapsed__icon-container {
	padding: 13px 6px 15px;
	color: #9fddff;
	display: block;
	margin-top: 8px;
	border-bottom: 8px solid transparent
}

.global-header__top-level-link:hover,
	.global-header__nav-collapsed__icon-container:hover,
	.global-header__top-level-link:focus,
	.global-header__nav-collapsed__icon-container:focus {
	color: #fff
}

.global-header__top-level-link:hover,
	.global-header__nav-collapsed__icon-container.isActive, .page--hotels .global-header__hotels a,
	.page--cars .global-header__cars a, .page--flights .global-header__flights a,
	.page--packages .global-header__packages a {
	color: #fff;
	border-color: #f2f2f2
}

.global-header {
	padding: 0 20px;
	background-color: #0a84c1;
	line-height: 1
}

.page--responsive .global-header {
	min-width: 320px
}

.page--768 .global-header {
	min-width: 768px
}

.page--1024 .global-header {
	min-width: 1024px
}

.page--1024-touch-768 .global-header {
	min-width: 1024px
}

@media only screen and (max-width: 767px) {
	.touch .page--1024-touch-768 .global-header {
		min-width: 320px
	}
}

.page--1200 .global-header {
	min-width: 1200px
}

@media print {
	.global-header {
		border: 0 none
	}
}

.global-header__top-level-link:hover {
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	-webkit-transition: 0.2s;
	transition: 0.2s
}

.global-header__logo-container {
	float: left;
	display: block;
	padding: 13px 0 14px
}

.global-header__logo {
	color: #fff
}

.global-header__logo-print {
	display: none
}

@media print {
	.global-header__logo-print {
		display: block;
		color: #000
	}
	.global-header__logo-print .icon-logo-priceline:before {
		font-size: 24px
	}
}

.global-header__navigation {
	margin: 0 auto;
	overflow: visible
}

.global-header__navigation:after {
	content: "";
	display: table;
	clear: both
}

.page--responsive .global-header__navigation {
	max-width: 1160px
}

.page--768 .global-header__navigation {
	width: 728px
}

.page--1024 .global-header__navigation {
	width: 984px
}

.page--1024-touch-768 .global-header__navigation {
	width: 984px
}

@media only screen and (max-width: 767px) {
	.touch .page--1024-touch-768 .global-header__navigation {
		max-width: 768px;
		width: auto
	}
}

.page--1200 .global-header__navigation {
	width: 1160px
}

@media print {
	.global-header__navigation {
		display: none
	}
}

.global-header .has-dropdown {
	position: relative
}

.global-header .has-dropdown:hover>a {
	color: #fff;
	border-bottom: 8px solid #f2f2f2
}

.global-header .has-dropdown:hover>a:after {
	border-color: #fff transparent transparent transparent
}

.global-header .has-dropdown:hover .dropdown {
	opacity: 1;
	visibility: visible
}

.global-header .has-dropdown>a:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: inset 5px;
	border-color: #9fddff transparent transparent transparent;
	border-top-style: solid;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	position: relative;
	top: 2px;
	left: 6px
}

.global-header .dropdown {
	background: #f2f2f2;
	position: absolute;
	line-height: 1.25em;
	visibility: hidden;
	opacity: 0;
	z-index: 999;
	top: 58px;
	padding: 0 10px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 2px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 2px 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 2px 0;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease
}

.global-header .dropdown:hover {
	display: block
}

.global-header .dropdown li {
	border-bottom: 1px solid;
	border-color: #d8d8d8;
	padding: 0 5px
}

.global-header .dropdown li:last-child {
	border-bottom: 0 none
}

.global-header .dropdown a {
	display: block;
	padding: 15px 0
}

.global-header__nav-collapsed {
	float: right;
	position: relative;
	right: -6px
}

@media screen and (min-width: 768px) {
	.page--responsive .global-header__nav-collapsed {
		display: none
	}
}

.page--1024-touch-768 .global-header__nav-collapsed {
	display: none
}

@media only screen and (max-width: 767px) {
	.touch .page--1024-touch-768 .global-header__nav-collapsed {
		display: block
	}
}

.page--768 .global-header__nav-collapsed, .page--1024 .global-header__nav-collapsed,
	.page--1200 .global-header__nav-collapsed {
	display: none
}

.global-header__nav-collapsed__icon-container {
	position: relative;
	width: 32px;
	height: 50px
}

.global-header__nav-collapsed__icon {
	position: absolute;
	top: 10px
}

.global-header__nav-collapsed .icon-utility-menu {
	font-size: 20px
}

.global-header__nav-collapsed__list {
	background: #f2f2f2;
	position: absolute;
	line-height: 1.25em;
	z-index: 999;
	top: 58px;
	padding: 0 10px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 2px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 2px 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 2px 0;
	right: 0;
	width: 200px
}

.global-header__nav-collapsed__list-item {
	border-bottom: 1px solid;
	border-color: #d8d8d8;
	padding: 0 5px
}

.global-header__nav-collapsed__list-item:last-child {
	border-bottom: 0 none
}

.global-header__nav-collapsed__list-item>a {
	display: block;
	padding: 15px 0
}

.global-header__nav-product, .global-header__nav-secondary {
	overflow: visible
}

.global-header__nav-product:after, .global-header__nav-secondary:after {
	content: "";
	display: table;
	clear: both
}

.page--responsive .global-header__nav-product, .page--responsive .global-header__nav-secondary
	{
	display: none
}

@media screen and (min-width: 768px) {
	.page--responsive .global-header__nav-product, .page--responsive .global-header__nav-secondary
		{
		display: block
	}
}

@media only screen and (max-width: 767px) {
	.touch .page--1024-touch-768 .global-header__nav-product, .touch .page--1024-touch-768 .global-header__nav-secondary
		{
		display: none
	}
}

.global-header__nav-product>li, .global-header__nav-secondary>li {
	float: left
}

.global-header__nav-product {
	float: left;
	padding-left: 30px
}

.page--responsive .global-header__nav-product>li {
	padding: 0 7px
}

@media screen and (min-width: 960px) {
	.page--responsive .global-header__nav-product>li {
		padding: 0 10px
	}
}

.page--768 .global-header__nav-product>li {
	padding: 0 7px
}

.page--1024-touch-768 .global-header__nav-product>li, .page--1024 .global-header__nav-product>li,
	.page--1200 .global-header__nav-product>li {
	padding: 0 10px
}

.global-header__nav-secondary {
	float: right
}

.global-header__nav-secondary>li+li {
	padding-left: 15px
}

.global-header__nav-secondary>li>a {
	padding-right: 10px;
	position: relative
}

.global-header__sign-in i, .global-header__my-trips i,
	.global-header__help i {
	position: absolute;
	top: 12px;
	left: 10px
}

.page--responsive .global-header__sign-in>a, .page--responsive .global-header__my-trips>a,
	.page--responsive .global-header__help>a {
	padding-left: 26px
}

@media screen and (min-width: 960px) {
	.page--responsive .global-header__sign-in>a, .page--responsive .global-header__my-trips>a,
		.page--responsive .global-header__help>a {
		padding-left: 35px
	}
}

.page--768 .global-header__sign-in>a, .page--768 .global-header__my-trips>a,
	.page--768 .global-header__help>a {
	padding-left: 26px
}

.page--1024 .global-header__sign-in>a, .page--1024-touch-768 .global-header__sign-in>a,
	.page--1200 .global-header__sign-in>a, .page--1024 .global-header__my-trips>a,
	.page--1024-touch-768 .global-header__my-trips>a, .page--1200 .global-header__my-trips>a,
	.page--1024 .global-header__help>a, .page--1024-touch-768 .global-header__help>a,
	.page--1200 .global-header__help>a {
	padding-left: 35px
}

.page--responsive .global-header__sign-in span, .page--responsive .global-header__my-trips span,
	.page--responsive .global-header__help span {
	display: none
}

@media screen and (min-width: 960px) {
	.page--responsive .global-header__sign-in span, .page--responsive .global-header__my-trips span,
		.page--responsive .global-header__help span {
		display: inline
	}
}

.page--768 .global-header__sign-in span, .page--768 .global-header__my-trips span,
	.page--768 .global-header__help span {
	display: none
}

.global-header__sign-in .dropdown {
	width: 110px;
	left: 0
}

.global-header__my-trips .dropdown {
	width: 210px
}

@media screen and (min-width: 768px) {
	.page--responsive .global-header__my-trips .dropdown {
		left: -10px
	}
}

@media screen and (min-width: 960px) {
	.page--responsive .global-header__my-trips .dropdown {
		left: 15px
	}
}

.page--768 .global-header__my-trips .dropdown {
	left: -10px
}

.page--1024 .global-header__my-trips .dropdown, .page--1024-touch-768 .global-header__my-trips .dropdown,
	.page--1200 .global-header__my-trips .dropdown {
	left: 15px
}

@media screen and (min-width: 768px) and (max-width: 959px) {
	.page--help .global-header__my-trips .dropdown {
		left: -70px
	}
}

.global-header__help .dropdown {
	width: 210px;
	right: 0
}

.page--help .global-header__currency {
	display: none
}

.global-header__currency .dropdown {
	width: 500px;
	right: 0;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
	column-gap: 30px
}

.global-header__currency .dropdown a:after {
	content: "";
	display: table;
	clear: both
}

.global-header__currency.is-static a {
	color: #fff;
	cursor: default;
	pointer-events: none;
	border-bottom: 8px solid transparent
}

.global-header__currency.is-static a:hover {
	color: #fff
}

.global-header__currency.is-static a:after {
	border: 0 none
}

.global-header__currency.is-static .dropdown {
	display: none
}

.global-header__currency__symbol, .global-header__currency__description
	{
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	vertical-align: top;
	float: left
}

.global-header__currency__symbol {
	width: 24%;
	padding: 0 5px 0 0;
	font-weight: bold
}

.global-header__currency__description {
	width: 76%
}