extends layouts/layout-primary

block content
	.container
	header.header-main.parallax-window(style='height:540px;position: relative; z-index:9;')
		//- url("img/header_image.png")
		.header-overlay
		.container(style='height:inherit; position:relative')
			.center
				img.logo(src="img/pricelinelogo.png", alt="")
				h1(style='font-size: 180px; color: white;  text-align:center; line-height:1'): strong #roomwithaview
				h2(style='font-size: 21px; color: white; text-align:center;')
					strong 
						| 15 INSTAGRAMMERS, 
						br.hide-large
						| 15 GREAT PRICELINE VIEWS, 
						br.hide-large
						| 15 CHANCES TO WIN
						
				img.icon-arrow(src="img/arrow-06.png", alt="" width='38' height='auto' style='display:block;margin:20px auto 0;width:36px; height: auto;')
	.container
		section.number-block(style='height:620px;')
			.number-block__col.number-block__text.is-right
				.big-number.has-animation.is-1 1
				.center.special(style='z-index:600')
					span.underline
						h5.h5
							strong View
					p Enjoy the views on Instagram and live vicariously through our intrepid travelers as they Instagram the view from their hotel rooms across the country and around the world. Guess their location and you could win your own #roomwithaview.
			.number-block__img(style='z-index:1;')
				//- .hide-large(style='background:url("img/header.jpg") no-repeat; background-size:cover;background-position:50% 100%;height: 650px;position:relative;overflow:hidden;')
				//- 	.overlay(style='opacity:1;')
				//- 	include includes/slider.jade
				//- 	//- .swiper-container
				//- 	//- 	.insta-slider.swiper-wrapper
				//- 	//- 		each val, index in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
				//- 	//- 			.insta-slide.swiper-slide
				//- 	//- 				.insta-user-pic(style='background:url("img/header_image.png") no-repeat; background-size:cover;background-position:50% 50%;')
				//- 	//- 				.insta-info
				//- 	//- 					.insta-user normancook
				//- 	//- 					.insta-name Kaley Cuoco
										
				//- 	//- 					p Norman is the OTHER love of my life. My husband knew this going in. He's ok with it. www.facebook.com/pages/Burning-Bodhi/788075557950605
				//- 	//- 					.button.instabutton(class="ig-follow" class="ig-follow" data-id="5479dee" data-handle="kylamedina" data-count="false" data-size="small" data-username="true") 
				//- 	//- 						img(src="img/instagram-black.png", alt="" style='height:20px;width:20px;display:inline-block;vertical-align:middle;margin-right:10px;position:relative;top:-2px;')
				//- 	//- 						| Follow @normancook
				//- 	//- 				img.insta-gram(src='http://lorempixel.com/290/290/' style='width:290px;height:290px;')
				//- 	//- 	.swiper-pagination
					
				.insta-container
					//- .hide-small(style='')
					.overlay(style='opacity:1;left:7%;right:7%;background-color:#EBF5F5')
					include includes/slider.jade
						
					//- .swiper-container
					//- 	.insta-slider.swiper-wrapper
					//- 		each val, index in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
					//- 			.insta-slide.swiper-slide
					//- 				//- .insta-overlay.will-happen
					//- 				//- 	.insta-user-pic(style='background:url("img/header_image.png") no-repeat; background-size:cover;background-position:50% 50%;')
					//- 				//- 	.insta-overlay__col.insta-overlay__col--left(style='background:url("http://lorempixel.com/400/200/") no-repeat; background-size:cover;background-position:50% 50%')

					//- 				//- 	.insta-overlay__col.insta-overlay__col--right
					//- 				//- 		.center

					//- 				//- 			.insta-overlay__user normancook
					//- 				//- 			.insta-overlay__name Kaley Cuoco
					//- 				//- 			p Norman is the OTHER love of my life. My husband knew this going in. He's ok with it. www.facebook.com/pages/Burning-Bodhi/788075557950605
					//- 				//- 			a.button.instabutton(href='') Follow @normancook
					//- 				.insta-user-pic(style='background:url("img/header_image.png") no-repeat; background-size:cover;background-position:50% 50%;')
					//- 				.insta-info
					//- 					.insta-user normancook
					//- 					.insta-name Kaley Cuoco
										
					//- 					p Norman is the OTHER love of my life. My husband knew this going in. He's ok with it. www.facebook.com/pages/Burning-Bodhi/788075557950605
					//- 					.button.instabutton(class="ig-follow" data-id="5479dee" data-handle="kylamedina" data-count="false" data-size="small" data-username="true") 
					//- 						img(src="img/instagram-black.png", alt="" style='height:20px;width:20px;display:inline-block;vertical-align:middle;margin-right:10px;position:relative;top:-2px;')
					//- 						| Follow @normancook
					//- 				img(src='http://lorempixel.com/290/290/' style='width:270px;height:270px;')
					//- 	.swiper-pagination


		section.number-block.is-right
			
			.number-block__col.number-block__text.is-right
				.big-number.has-animation.is-2 2
				.center(style='z-index:600')
					span.underline
						h5.h5
							strong Clue
					p Get a clue (or a few) and follow 
						a(href='https://instagram.com/priceline/' target="_blank") @priceline
						|  for hints and tips to the #roomwithaview in the&nbsp;posts.
					//- a.button.instabutton(href='') 
					//- 	img.hide-small(src="img/instagram-black.png", alt="" style='height:20px;width:20px;display:inline-block;vertical-align:middle;margin-right:10px;position:relative;top:-2px;')
					//- 	img.hide-large(src="img/instagram-blue.png", alt="" style='height:20px;width:20px;display:inline-block;vertical-align:middle;margin-right:10px;position:relative;top:-2px;')
					//- 	| Follow @priceline
					//- span.ig-follow(data-id='dac4718', data-handle='priceline', data-count='true', data-size='small', data-username='true')
					button.button.instabutton.ig-follow(data-id='dac4718' data-handle='priceline' data-count="false" data-size="small" data-username="true") 
					script.
						(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src="//x.instagramfollowbutton.com/follow.js";s.parentNode.insertBefore(g,s);}(document,"script"));

			.number-block__img.is-2(data-aload)
				img.hide-large(data-aload="img/section_2_1x.jpg", alt="")
		section.number-block
			
			.number-block__col.number-block__text.is-right
				.big-number.has-animation.is-3 3
				.center(style='z-index:600')
					span.underline
						h5.h5
							strong Play
					p Play smart. Play often. Post the hotel name and location in the comments of each #roomwithaview. For every room you guess correctly you’re entered into a drawing to win. The more hotels you guess correctly, the more chances you have to&nbsp;win.
			.number-block__img.is-3(data-aload)
				img.hide-large(data-aload="img/section_3_1x.jpg", alt="")

		section.number-block.is-right
			
			.number-block__col.number-block__text.is-right(style='position:relative;z-index:8')
				.big-number.has-animation.is-4 4
				.center(style='z-index:600')
					span.underline
						h5.h5
							strong Stay
					p After each location is revealed, a winner drawn at random will receive a $300 Express Deals gift certificate to use towards staying in their own&nbsp;
						strong #roomwithaview
						| .
			.number-block__img.is-4(data-aload)
				img.hide-large(data-aload="img/section_4_1x.jpg", alt="")

	section.text--light.bg--black(style='padding:30px 0;text-align:center;z-index:9;position:relative' data-delay='300')
		.container
			span.underline.no-padding.is-small
				h4.h4
					strong The Details
					
			p.details-copy
				| Valid dates 8/17/15 - 10/1/15. Must be 21 years or older at time of entry to&nbsp;qualify. 
				br
				| See 
				a(href='/rules.html' target='_blank') Official Rules
				|  and 
				a(href='https://www.priceline.com/static-pages/privacy-policy.html' target='_blank') Privacy Policy
				| . More about the 
				a(href='http://www.priceline.com/promo/expressdeals.do' target='_blank') room you could&nbsp;win
				| . 
	//-
		.container
			section.number-block.has-animation(data-delay='300')
				.number-block__img.hide-small(style='background:url("img/Express_deals.png") no-repeat; background-size: cover; background-position:50% 50%;width:50%;')
					img.hide-large(src="img/Express_deals.png", alt="")

				.number-block__col.number-block__text(style='width:50%;background-color: white;color: black;')
					.hide-large
						div(style='padding: 30px 0 20px 0;')
							span.underline.no-padding
								h3.h3
									| Express&nbsp;
									strong Deals
						img(src="img/Express_deals.png", alt="" )
						div(style='padding: 5%;text-align:center')
							p(style='max-width: 540px; display:block;margin: auto;') Choose from a huge collection of top hotels at incredible prices with no bidding required. See the neighborhood, amenities and price of each hotel before you book. You’ll find out the exact name of the hotel immediately after&nbsp;purchase.
							a.button(href='http://www.priceline.com/promo/expressdeals.do') Search Express Deals
					.center.hide-small
						span.underline.no-padding
								h6.h6 Brought to you by
								h3.h3
									| Express&nbsp;
									strong Deals
						p  All of the hotels featured in #roomwithaview are available through Priceline.com Express Deals. See the neighborhood, amenities and price of each hotel before you book. We reveal the name immediately after purchase so you get some of the best deals we can&nbsp;offer.
						a.button(href='') Search Express Deals

			
	block footer
