extends layouts/layout-primary

block content
	//- .container
	header.header-main.parallax-window(style='height:540px;position: relative; z-index:9;')
		//- url("img/header_image.png")
		.header-overlay
		.container(style='height:inherit; position:relative')
			.center
				img.logo(src="img/pricelinelogo.png", alt="")
				h1(style='font-size: 180px; color: white;  text-align:center; line-height:1'): strong #roomwithaview
				h2(style='font-size: 21px; color: white; text-align:center;')
					strong 
						| 15 INSTAGRAMMERS, 
						br.hide-large
						| 15 GREAT PRICELINE VIEWS, 
						br.hide-large
						| 15 CHANCES TO WIN
						
				img.icon-arrow(src="img/arrow-06.png", alt="" width='38' height='auto' style='display:block;margin:20px auto 0;width:36px; height: auto;')
	.container
		section.number-block(style='height:620px;')
			.number-block__col.number-block__text.is-right
				.big-number.has-animation.is-1 1
				.center.special(style='z-index:600')
					span.underline
						h5.h5
							strong View
					p Enjoy the views on Instagram and live vicariously through our intrepid travelers as they Instagram the view from their hotel rooms across the country and around the world. Guess their location and you could win your own #roomwithaview.
			.number-block__img(style='z-index:1;')
				//- .hide-large(style='background:url("img/header.jpg") no-repeat; background-size:cover;background-position:50% 100%;height: 650px;position:relative;overflow:hidden;')
				//- 	.overlay(style='opacity:1;')
				//- 	include includes/slider.jade
				//- 	//- .swiper-container
				//- 	//- 	.insta-slider.swiper-wrapper
				//- 	//- 		each val, index in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
				//- 	//- 			.insta-slide.swiper-slide
				//- 	//- 				.insta-user-pic(style='background:url("img/header_image.png") no-repeat; background-size:cover;background-position:50% 50%;')
				//- 	//- 				.insta-info
				//- 	//- 					.insta-user normancook
				//- 	//- 					.insta-name Kaley Cuoco
										
				//- 	//- 					p Norman is the OTHER love of my life. My husband knew this going in. He's ok with it. www.facebook.com/pages/Burning-Bodhi/788075557950605
				//- 	//- 					.button.instabutton(class="ig-follow" class="ig-follow" data-id="5479dee" data-handle="kylamedina" data-count="false" data-size="small" data-username="true") 
				//- 	//- 						img(src="img/instagram-black.png", alt="" style='height:20px;width:20px;display:inline-block;vertical-align:middle;margin-right:10px;position:relative;top:-2px;')
				//- 	//- 						| Follow @normancook
				//- 	//- 				img.insta-gram(src='http://lorempixel.com/290/290/' style='width:290px;height:290px;')
				//- 	//- 	.swiper-pagination
					
				.insta-container
					//- .hide-small(style='')
					.overlay(style='opacity:1;left:7%;right:7%;background-color:#EBF5F5')
					include includes/slider.jade
						
					//- .swiper-container
					//- 	.insta-slider.swiper-wrapper
					//- 		each val, index in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
					//- 			.insta-slide.swiper-slide
					//- 				//- .insta-overlay.will-happen
					//- 				//- 	.insta-user-pic(style='background:url("img/header_image.png") no-repeat; background-size:cover;background-position:50% 50%;')
					//- 				//- 	.insta-overlay__col.insta-overlay__col--left(style='background:url("http://lorempixel.com/400/200/") no-repeat; background-size:cover;background-position:50% 50%')

					//- 				//- 	.insta-overlay__col.insta-overlay__col--right
					//- 				//- 		.center

					//- 				//- 			.insta-overlay__user normancook
					//- 				//- 			.insta-overlay__name Kaley Cuoco
					//- 				//- 			p Norman is the OTHER love of my life. My husband knew this going in. He's ok with it. www.facebook.com/pages/Burning-Bodhi/788075557950605
					//- 				//- 			a.button.instabutton(href='') Follow @normancook
					//- 				.insta-user-pic(style='background:url("img/header_image.png") no-repeat; background-size:cover;background-position:50% 50%;')
					//- 				.insta-info
					//- 					.insta-user normancook
					//- 					.insta-name Kaley Cuoco
										
					//- 					p Norman is the OTHER love of my life. My husband knew this going in. He's ok with it. www.facebook.com/pages/Burning-Bodhi/788075557950605
					//- 					.button.instabutton(class="ig-follow" data-id="5479dee" data-handle="kylamedina" data-count="false" data-size="small" data-username="true") 
					//- 						img(src="img/instagram-black.png", alt="" style='height:20px;width:20px;display:inline-block;vertical-align:middle;margin-right:10px;position:relative;top:-2px;')
					//- 						| Follow @normancook
					//- 				img(src='http://lorempixel.com/290/290/' style='width:270px;height:270px;')
					//- 	.swiper-pagination


		section.number-block.is-right
			
			.number-block__col.number-block__text.is-right
				.big-number.has-animation.is-2 2
				.center(style='z-index:600')
					span.underline
						h5.h5
							strong Clue
					p Get a clue (or a few) and follow 
						a(href='https://instagram.com/priceline/' target="_blank") @priceline
						|  for hints and tips to the #roomwithaview in the&nbsp;posts.
					//- a.button.instabutton(href='') 
					//- 	img.hide-small(src="img/instagram-black.png", alt="" style='height:20px;width:20px;display:inline-block;vertical-align:middle;margin-right:10px;position:relative;top:-2px;')
					//- 	img.hide-large(src="img/instagram-blue.png", alt="" style='height:20px;width:20px;display:inline-block;vertical-align:middle;margin-right:10px;position:relative;top:-2px;')
					//- 	| Follow @priceline
					//- span.ig-follow(data-id='dac4718', data-handle='priceline', data-count='true', data-size='small', data-username='true')
					//- button.button.instabutton.ig-follow(data-id='dac4718' data-handle='priceline' data-count="false" data-size="small" data-username="true") Follow Priceline
					//- script.
					//- 	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src="//x.instagramfollowbutton.com/follow.js";s.parentNode.insertBefore(g,s);}(document,"script"));

			.number-block__img.is-2(data-aload)
				//- img.hide-large(data-aload="img/sf.jpg", alt="")
				| <blockquote class="instagram-media"  data-instgrm-version="4" style="max-width:360px;margin:auto;"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://instagram.com/p/6sXWZ-Ip2u/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_top">#roomwithaview Hint: @Brynnelliottwatkins is riding around her hosting city in the only national monument that moves. Guess which hotel she’s staying in and you could win a hotel stay of your own! (Restrictions apply, full rules at pcln.co/view )</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by priceline.com (@priceline) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-08-22T16:58:30+00:00">Aug 22, 2015 at 9:58am PDT</time></p></div></blockquote>
		section.number-block
			
			.number-block__col.number-block__text.is-right
				.big-number.has-animation.is-3 3
				.center(style='z-index:600')
					span.underline
						h5.h5
							strong Play
					p Play smart. Play often. Post the hotel name and location in the comments of each #roomwithaview. For every room you guess correctly you’re entered into a drawing to win. The more hotels you guess correctly, the more chances you have to&nbsp;win.
			.number-block__img.is-3(data-aload)
				img.hide-large(data-aload="img/section_3_1x.jpg", alt="")

		section.number-block.is-right
			
			.number-block__col.number-block__text.is-right(style='position:relative;z-index:8')
				.big-number.has-animation.is-4 4
				.center(style='z-index:600')
					span.underline
						h5.h5
							strong Stay
					p After each location is revealed, a winner drawn at random will receive a $300 Express Deals gift certificate to use towards staying in their own&nbsp;
						strong #roomwithaview
						| .
			.number-block__img.is-4(data-aload)
				img.hide-large(data-aload="img/section_4_1x.jpg", alt="")

	section.text--light.bg--black(style='padding:30px 0;text-align:center;z-index:9;position:relative' data-delay='300')
		.container
			span.underline.no-padding.is-small
				h4.h4
					strong The Details
					
			p.details-copy
				| Valid dates 8/17/15 - 10/1/15. Must be 21 years or older at time of entry to&nbsp;qualify. 
				br
				| See 
				a(href='/rules.html' target='_blank') Official Rules
				|  and 
				a(href='https://www.priceline.com/static-pages/privacy-policy.html' target='_blank') Privacy Policy
				| . More about the 
				a(href='http://www.priceline.com/promo/expressdeals.do' target='_blank') room you could&nbsp;win
				| . 
	section
	
		.container
			.number-block
				.number-block__img.open-table-insta
					| <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="4" style="max-width:360px;margin:auto"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://instagram.com/p/6xwzo1Dtt-/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_top">@OpenTable is excited to partner with @Priceline on the #roomwithaview campaign. Guess the Priceline hotel for a chance to win your own hotel stay! (Restrictions apply, full rules at pcln.co/view) #roomwithaview &amp; #dinnertoo 📷by @brynnelliottwatkins</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by OpenTable (@opentable) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-08-24T19:17:09+00:00">Aug 24, 2015 at 12:17pm PDT</time></p></div></blockquote>
				.number-block__col.number-block__text(style='width:50%;background-color: white;color: black;')
					.hide-large
						div(style='padding: 30px 0 20px 0;margin:0 5%')
							span.no-padding
								h6.h6 In Partnership with
								img(src="img/open-table.jpg", alt="" style='max-width:320px;margin:auto')
							
						//- div(style='background:url("img/toronto.jpg") no-repeat; background-size:cover;background-position:0% 0%;padding: 40px 0;')
						//- 	| <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="4" style="max-width:360px;margin:auto"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://instagram.com/p/6xwzo1Dtt-/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_top">@OpenTable is excited to partner with @Priceline on the #roomwithaview campaign. Guess the Priceline hotel for a chance to win your own hotel stay! (Restrictions apply, full rules at pcln.co/view) #roomwithaview &amp; #dinnertoo 📷by @brynnelliottwatkins</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by OpenTable (@opentable) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-08-24T19:17:09+00:00">Aug 24, 2015 at 12:17pm PDT</time></p></div></blockquote>
						div(style='padding: 5%;text-align:center')
							p(style='max-width: 540px; display:block;margin: auto;') 
								| Our friends at OpenTable have hooked our travelers up with a night on the town. OpenTable connects diners with restaurants and makes it easy to discover, book and pay for great dining experiences wherever you are! Follow 
								a(href="https://instagram.com/opentable/" target="_blank") @opentable
								|  on Instagram or head over to 
								a(href="http://www.opentable.com" target="_blank") opentable.com 
								|  to learn more.
							//- a.button(href='http://www.priceline.com/promo/expressdeals.do') Search Express Deals
					.center.hide-small
						span.underline.no-padding
							h6.h6 In Partnership with
							img(src="img/open-table.jpg", alt="")
						
						p  
							| Our friends at OpenTable have hooked our travelers up with a night on the town. OpenTable connects diners with restaurants and makes it easy to discover, book and pay for great dining experiences wherever you are! Follow 
							a(href="https://instagram.com/opentable/" target="_blank") @opentable
							|  on Instagram or head over to 
							a(href="http://www.opentable.com" target="_blank") opentable.com 
							|  to learn more.
						//- a.button(href='') Search Express Deals

			
	block footer
