extends layouts/layout-primary

block content
	.container
	header.header-main.parallax-window(style='background:transparent; height:540px;position: relative; z-index:9;background-size: cover; background-position:50% 50%;')
		//- url("img/header_image.png")
		.header-overlay
		.container(style='height:inherit; position:relative')
			.header-main__content(style='position:absolute; bottom:7%;width: 100%;')
				img.logo(src="img/pricelinelogo.png", alt="")
				h1(style='font-size: 148px; color: white;  text-align:center;'): strong #roomwithaview
				h2(style='font-size: 21px; color: white; text-align:center;')
					strong 
						| 15 INSTAGRAMMERS, 
						br.hide-large
						| 15 GREAT PRICELINE VIEWS, 
						br.hide-large
						| 15 CHANCES TO WIN
						
				img.icon-arrow(src="img/arrow-06.png", alt="" width='38' height='auto' style='display:block;margin:20px auto 0;width:36px; height: auto;')
	.container.rules-page(style='padding-top: 3%;padding-bottom: 3%')
		h2(style='text-align:center;padding-bottom:20px'): strong SWEEPSTAKES OFFICIAL RULES
		h3(style='text-align:center;'): strong NO PURCHASE OR PAYMENT IS NECESSARY TO ENTER OR TO WIN.
		h3(style='text-align:center;'): strong A PURCHASE DOES NOT IMPROVE ONE’S CHANCES OF WINNING.
		h3(style='text-align:center;'): strong VOID WHERE PROHIBITED BY LAW.
		p(style='padding-top: 3%')
			strong 1. Eligibility: 
			| The #RoomWithAView Sweepstakes (“Sweepstakes”) is only open to permanent legal residents of the fifty (50) states of the United States (“U.S.”) and the District of Columbia (“D.C.”) (excluding Guam, Puerto Rico and all other U.S. and foreign territories and possessions) who are currently physically located and residing therein and who are eighteen (18) years of age or older as of the date of entry. Entrants must be Instagram members to enter; however, the Sweepstakes is in no way sponsored, endorsed or administered by or associated with Instagram and Instagram is completely released of all liability by each entrant in this Sweepstakes. Sponsor (defined below) has no affiliation with Instagram and has no responsibility for or control over any matters relating to Instagram or Instagram accounts. Entrants must also have either a valid social security number and/or a valid U.S. personal tax identification number. Employees of Priceline.com Incorporated (“Sponsor”), Makeable, rewardStyle, Inc.'s Like to Know It ("LTK"), Sweepstakes administrator, their advertising or promotion agencies, those involved in the production, development, implementation or handling of the Sweepstakes, any agents acting for, or on behalf of the above entities, their respective parent companies, officers, directors, subsidiaries, franchisees, affiliates, licensees, service providers, prize suppliers, any other person or entity associated with the Sweepstakes (collectively “Sweepstakes Entities”) and/or members of their immediate families (spouses, domestic partners, children, siblings, parents) and/or persons living in the same household as such persons, whether or not related, are ineligible to enter the Sweepstakes.

			strong 2. Sweepstakes Period: 
			| The Sweepstakes consists of fifteen (15) separate individual sweepstakes (each an “Individual Sweepstakes”) and each Individual Sweepstakes runs for two (2) consecutive days (each an “Individual Sweepstakes Period”). Each Individual Sweepstakes begins at 3:00 a.m. ET and ends two (2) days later at 2:59 a.m. ET (see chart below). The first Individual Sweepstakes begins at 3:00 a.m. ET on August 14, 2015 and the last Individual Sweepstakes ends at 2:59 a.m. ET on September, 27, 2015.
			table
				tr
					th Individual Sweepstakes #
					th Individual Sweepstakes Start Time
					th Individual Sweepstakes End Time
					th Individual Sweepstakes Drawing Date
				tr
					td #1
					td 8/14/15 @ 3:00 a.m. ET
					td 8/15/15 @ 2:59 a.m. ET
					td 8/16/15
				tr
					td #2
					td 8/17/15 @ 3:00 a.m. ET
					td 8/18/15 @ 2:59 a.m. ET
					td 8/19/15
				tr
					td #3
					td 8/20/15 @ 3:00 a.m. ET
					td 8/21/15 @ 2:59 a.m. ET
					td 8/22/15
				tr
					td #4
					td 8/23/15 @ 3:00 a.m. ET
					td 8/24/15 @ 2:59 a.m. ET
					td 8/25/15
				tr
					td #5
					td 8/26/15 @ 3:00 a.m. ET
					td 8/27/15@ 2:59 a.m. ET
					td 8/28/15
				tr
					td #6
					td 8/29/15 @ 3:00 a.m. ET
					td 8/30/15 @ 2:59 a.m. ET
					td 8/31/15
				tr
					td #7
					td 9/1/15 @ 3:00 a.m. ET
					td 9/2/15 @ 2:59 a.m. ET
					td 9/3/15
				tr
					td #8
					td 9/4/15 @ 3:00 a.m. ET
					td 9/5/15 @ 2:59 a.m. ET
					td 9/6/15
				tr
					td #9
					td 9/7/15 @ 3:00 a.m. ET
					td 9/8/15 @ 2:59 a.m. ET
					td 9/9/15
				tr
					td #10
					td 9/10/15 @ 3:00 a.m. ET
					td 9/11/15 @ 2:59 a.m. ET
					td 9/12/15
				tr
					td #11
					td 9/13/15 @ 3:00 a.m. ET
					td 9/14/15 @ 2:59 a.m. ET
					td 9/15/15
				tr
					td #12
					td 9/16/15 @ 3:00 a.m. ET
					td 9/17/15 @ 2:59 a.m. ET
					td 9/18/15
				tr
					td #13
					td 9/19/15 @ 3:00 a.m. ET
					td 9/20/15 @ 2:59 a.m. ET
					td 9/21/15
				tr
					td #14
					td 9/22/15 @ 3:00 a.m. ET
					td 9/23/15 @ 2:59 a.m. ET
					td 9/24/15
				tr
					td #15
					td 9/25/15 @ 3:00 a.m. ET
					td 9/26/15 @ 2:59 a.m. ET
					td 9/27/15
		p
			strong 3. How to Enter: 
			| Entrants must first either already be following or begin following @Priceline on Instagram. To follow @Priceline on Instagram, entrants must go to https://instagram.com/priceline/ and click the “Follow” button. If an entrant does not already have an Instagram account, he/she can create one by going to either the App Store or Google Play and downloading the Instagram App to their mobile device. To enter the Sweepstakes, entrants must go to https://instagram.com/priceline (“Instagram Site”) and locate one (1) of the Sweepstakes post(s). The first post will showcase one of the Sponsor’s properties with a photo of a view from a hotel asking entrants to identify and name both the hotel and the city the hotel/view is located in (“Post”). On the second day of every Individual Sweepstakes, at least one (1) hint will be provided about the hotel location (“Hint”). To receive an entry, entrants must comment with the correct name of the hotel and the city it is located in on either the Post or a Hint and include the following hashtag: #RoomWithaView (“Comment”). After completing and submitting the Comment, said entrant will then receive one (1) entry into the applicable Individual Sweepstakes (“Instagram Entry”). Note: An entrant may only Comment once for each Individual Sweepstakes (i.e. on the Post or a Hint) and Comments must include the correct name of the hotel and the city it is in to be a valid Entry.  On the day after each Individual Sweepstakes, a photo will be posted revealing the hotel location and the winner will be announced.
		p
			| Entrants understand that they are providing their information to the Sponsor and not to Instagram. The Comment must belong to the entrant that completed the act of physically entering the Sweepstakes. The Comment must adhere to the following guidelines:
		ol
			li Comment must contain the name of the hotel and the city it is in the Post to be valid;
			li Comment must contain the following hashtag to be valid: #RoomWithaView;
			li Comment must be in the English language;
			li Comment must not refer to any real person;
			li Comment cannot contain the first name, last name, phone number(s), address, email address of the entrant or any other person;
			li Comment must not contain or depict any objectionable, unlawful, defamatory, obscene, sexually-explicit, threatening, abusive, harassing, hateful, discriminatory, or vulgar material and must be otherwise fit for publication/posting/uploading, as determined by Sponsor in its sole and absolute discretion;
			li Comment must not include materials (language, phrases, quotations, logos, etc.) belonging to or copyrighted by third parties, and Sponsor, in its sole and absolute discretion, has the right to disqualify such Comment;
			li Comment must not contain any unsolicited or unauthorized advertising, promotional materials, or any other form of solicitation;  
			li Comment must not contain any material that: (a) would give or threaten to give rise to criminal or civil liability; (b) encourages conduct that constitutes a criminal offense; or (c) encourages or provides instructional information about illegal activities;
			li Comment must not contain any references to alcohol, tobacco, drug paraphernalia, firearms, or any description or representation thereof; and
			li Comment must not include obscenities or other objectionable material, that defame or invade the publicity or privacy rights of any person (living or deceased), or that otherwise infringe upon any third party's personal or proprietary rights, as determined by Sponsor in its sole and absolute discretion.
		p
			| Entrants without an Instagram account may also enter the Sweepstakes by sending an email to roomwithaview@itsmakeable.com with the subject line “#RoomWithAView and the following information: First Name, Last Name, Email Address, and the correct name of the hotel and the city the hotel/view is located in for the applicable Individual Sweepstakes (“Email Entry”). Instagram Entries or Email Entries (collectively, “Entry/ies”) for each Individual Sweepstakes must be received by 2:59 a.m. ET on the last day of each Individual Sweepstakes. Entries for the last Individual Sweepstakes must be received by 2:59 a.m. ET on September 27, 2015.  If an entrant is a resident of a jurisdiction that deems him/her to be a minor, he/she must obtain parental/legal guardian consent prior to entering or submitting any personally identifiable information. A minor is defined as a resident of Alabama or Nebraska who is between eighteen (18) and nineteen (19) years of age or a resident of Mississippi who is between eighteen (18) and twenty one (21) years of age (“Minor”). Limit one (1) Entry per person per Individual Sweepstakes.   ENTRANTS CAN ONLY ENTER BY ONE METHOD OF ENTRY PER INDIVIDUAL SWEEPSTAKES.  ENTRANTS CANNOT USE BOTH METHODS OF ENTRY TO ENTER AN INDIVIDUAL SWEEPSTAKES.  ENTRANTS WHO ENTER AN INDIVIDUAL SWEEPSTAKES BY BOTH METHODS OF ENTRY, AS WELL AS THOSE ENTRANTS WHO SUBMIT MULTIPLE ENTRIES OF ANY KIND IN EXCESS OF THE LIMITS STATED HEREIN, WILL BE DISQUALIFIED.  
		p
			| If entrants use a mobile device to obtain an Entry, standard text messaging and data rates apply to the Entry and all other mobile communications, including but not limited to additional Entries (if applicable), sent and received in connection with the Sweepstakes (contact your carrier for pricing plans and details). This charge will be billed on each entrant’s wireless bill or deducted from each entrant’s prepaid balance. May not be available for all service providers or for all mobile devices. Please use care and do not drive while entering the Sweepstakes.
		p
			| Entries in excess of the stated limits will be disqualified. Any attempted form of entry other than as described herein is void. Proof of submitting an Entry will not be deemed by Sponsor as proof of receipt or entry into the Sweepstakes. Any attempt by an entrant to obtain more than the stated number of Entries by using multiple/different email addresses, Instagram accounts, identities, registrations, logins or any other methods, including, but not limited to, commercial contest/sweepstakes subscription notification and/or entering services, will void that entrant’s Entries and that entrant may be disqualified. Any attempted form of entry into this Sweepstakes other than as described herein is void. Final eligibility for the award of any prize is subject to eligibility verification and other conditions and requirements, as set forth below. The Instagram Site may not be accessible from all mobile phones, handheld devices and/or tablets. If an entrant experiences any issues entering, he/she should access the Instagram Site from a desktop or laptop computer.

			strong 4. Prizes/Odds of Winning: 
			| One (1) prize per Individual Sweepstakes will be awarded in this Sweepstakes. Each Individual Sweepstakes prize consists of a $300 Express Deal Hotel voucher for the winner and includes: 1) one (1) guest and 2) standard hotel accommodations (single room/double occupancy). The Total Approximate Retail Value (“ARV”) of each Individual Sweepstakes prize: $300. Total ARV of all prizes: $4,500. Odds of winning a prize depends on the total number of eligible Entries received during the applicable Individual Sweepstakes Period. Limit one (1) prize per person. The ARV of the hotel stay may vary depending upon destination and if the winner takes the allotted guest. Additional compensation will not be provided if value of the hotel stay is less than the stated ARV. Vouchers, if applicable, cannot be exchanged/redeemed for cash or combined with any other offer and are subject to stated terms and conditions. Hotel stay must be completed within one (1) year of notification of winning or winner forfeits the prize and no additional compensation will be awarded. Hotel stay is subject to hotel availability, holiday and blackout dates, and all other prize and travel restrictions. Once determined, no change, extension or substitution of hotel stay dates is permitted, except by Sponsor in its sole discretion. Once the details of the hotel stay have been confirmed, any cancellation or change fees or restructuring of the details are the sole responsibility of a winner. If a winner is a resident of a state that deems him/her to be a Minor, he/she must be accompanied by his/her parent/legal guardian and such person must pay his/her own expenses unless deemed to be the allotted travel guest. If guest is a resident of a state that deems him/her to be a Minor [for purposes of defining a Minor who is a guest, the definition of a Minor shall be extended to include anyone who is under that age of eighteen (18)], he/she must be accompanied by his/her parent/legal guardian and such person must pay his/her own expenses unless deemed to be the winner. If a winner chooses to take more guests than allotted in the prize description, Sponsor is not responsible for arranging or booking such additional hotel arrangements. If winner elects to travel or partake in any activity, if applicable, with less than one (1) guest, no additional compensation will be awarded. Winner is responsible for all other incidentals/expenses not specifically mentioned as being included, including but not limited to, hotel cost overages, air transportation, ground transportation, meals, gratuities, and phone calls. Winner and guest are solely responsible for providing all necessary identification documents and will be responsible for obtaining all necessary travel documents. Failure to provide such documents may result in trip cancellation upon airport (if applicable) and/or hotel check-in. Winner and/or guest must have/present at least one (1) major credit card in good standing in order to check into hotel. The hotel stay restrictions/conditions stated herein are not all-inclusive and may be subject to additional restrictions/conditions, which may be stated in the Affidavit/Release (defined in section 6) and/or winner’s travel documents. All expenses associated with the receipt or use of prize not specifically mentioned as being included (e.g. any requested upgrades/options) are excluded and is winner’s sole responsibility. No cash equivalent for the prize(s) will be available. Prize(s) is not transferable. However, Sponsor may, in its sole discretion, choose to substitute the prize (or prize component) of equal or greater value due to prize unavailability or for any other reason. Sponsor reserves the right, in its sole discretion, to replace prize (or prize component) with a similar prize; but, in such event, Sponsor will continue to use the value of the “old” (i.e., replaced) item/component for purposes of calculating the ARV. The prize(s) and prize notification(s) will only be sent to addresses within the fifty (50) states of the U.S. (including D.C.). Any depiction of prize(s) in Sweepstakes materials or otherwise are for illustrative purposes only. All federal, state, or other tax liabilities (including but not limited to income taxes) arising from participation in the Sweepstakes or award of any prize(s) will be the sole responsibility of the winner(s). Winner(s) of a prize valued at $600 or more will be issued an IRS Form 1099 from the Sponsor or Sponsor’s designee for the total ARV of the prize won (as stated herein) in the calendar year won. The Sweepstakes administrator is not the supplier or guarantor of any prize.

			strong 5. Drawings: 
			| Potential winner(s) will be randomly selected in a series of drawings held by the Sponsor located in Norwalk, CT on or about the day after each Individual Sweepstakes (each an “Individual Drawing Date”) from among all eligible Entries received for each Individual Sweepstakes. See chart in section 2 above for all Individual Drawing Dates. Non-winning eligible Entries will not be retained and entered into subsequent Individual Sweepstakes.

			strong 6. Notification of Winners: 
			| Each potential winner will be notified via an Instagram Direct message at the Instagram Account associated with his/her Entry or via the email associated with his/her entry (actual method of notification determined by a potential winner’s method of entry) by Sponsor within approximately two (2) days of the applicable Drawing Date. If an entrant is not following @Priceline, the Instagram Direct message will go into said entrant’s requests queue. If a potential winner entered via Instagram he/she will have two (2) business days to respond to the Instagram Direct message by emailing his/her requested responses (e.g. his/her email address.) After a potential winner provides his/her email address, he/she will be emailed eligibility questions by the Sweepstakes administrator which must be answered within two (2) business days. If a potential winner entered via email, he/she will have two (2) business days to respond to the email by emailing his/her requested responses (e.g. answers to eligibility questions). If a potential winner does not respond to the Instagram Direct message within two (2) business days; does not respond to the eligibility questions within two (2) business days; is found to be ineligible; if he/she does not comply with these Official Rules; if his/her prize or prize notification message is returned as undeliverable, potential winner will be disqualified and an alternate potential winner may be selected at Sponsor’s sole discretion. If an entrant changes and/or deletes his/her Instagram account after he/she enters the Sweepstakes, it is his/her sole responsibility to notify the Sponsor before the end of the Sweepstakes Period at the Sponsor’s postal mailing address (listed below). Each potential winner will be required to sign, execute, have notarized and return an original unmodified Affidavit of Eligibility, a Liability Release, (where legal) a Publicity Release and any other documentation that Sponsor and/or the Sweepstakes administrator requires (collectively “Affidavit/Release”) within five (5) business days after receipt by a potential winner or such potential winner may be disqualified and an alternate potential winner for such prize may be selected. If a potential winner is a resident of a jurisdiction that deems him/her to be a Minor, his/her parent or legal guardian will be required to sign the Affidavit/Release on his/her behalf. By returning the completed Affidavit/Release, each winner attests to the provisions stated therein including the accuracy of the information contained therein and compliance with these Official Rules. Each winner’s guest will be required to sign, execute, have notarized and return a Liability Release, a Publicity Release and any other documentation that Sponsor and/or Sweepstakes administrator requires (“Guest Release”) within five (5) business days after receipt by the potential winner. If guest is a resident of a jurisdiction that deems him/her to be a Minor, his/her parent or legal guardian will be required to sign the Guest Release on his/her behalf.

			strong 7. General Conditions: 
			| Sweepstakes is subject to these Official Rules and all federal, state and local laws and regulations (collectively “Rules and Laws”). By entering the Sweepstakes, entrants agree and acknowledge to be bound by these Rules and Laws, as well as the decisions of the Sweepstakes administrator which are final and binding in all respects; to waive any rights to claim ambiguity with these Rules and Laws and the Official Rules; to indemnify and hold harmless the Sweepstakes Entities from any and all liability resulting or arising from use of any submitted Entry; and to release all rights to bring any claim, action or proceeding against the Sweepstakes Entities. Once submitted, Entries become the sole property of the Sponsor and will not be returned. Thus, except where prohibited by law and Sponsor’s Privacy Policy: (1) entry and/or a winner’s acceptance of a prize constitutes permission for the Sweepstakes Entities to use each winner’s name, address (city and state), photo, likeness, biographical information, statement, and voice for advertising/publicity purposes worldwide and in all forms of media (including posting on the Instagram Site), in perpetuity, without further notice to or compensation in connection with said Sweepstakes or the prize awarded, and (2) Sponsor has the right to modify, edit, adapt, electronically alter, use, assign and/or dispose of such Entries however it sees fit and for any purpose without any notice or compensation to entrant or any third parties. Any personal information supplied by entrants to Sponsor or its affiliates will be subject to Sponsor’s privacy policy, located at http://www.priceline.com/privacypolicy/privacypolicy.asp?jsk=344b050a354a050a20121025213500b14020219429&plf=PCLN. Sponsor reserves the right, in its sole discretion, to disqualify any individual found to be tampering with the entry process or the operation of the Sweepstakes; to be acting in violation of the Official Rules, or to be acting in an unsportsmanlike or disruptive manner, or with the intent to annoy, abuse, threaten, or harass any other person. Any person attempting to defraud or tamper with Sweepstakes will be prosecuted and is not eligible for a prize. If, for any reason, the Sweepstakes is not capable of running as originally planned, Sponsor in its discretion, reserves the right to cancel, suspend or modify the Sweepstakes or any portion(s) thereof and to conduct the applicable drawing(s) and award the prize(s) from all salvageable eligible Entries received prior to and/or after (as appropriate) the action taken by the Sponsor, or award the prize(s) in a manner that is fair and equitable. In case of a dispute over the identity of an entrant who submitted a winning Entry, the authorized account holder of the email address associated with the Email Entry or the authorized account holder of the email address affiliated with the Instagram account associated with that Instagram Entry will be deemed the entrant. The “authorized account holder” is deemed the natural person who is assigned to an email/Instagram account using an email address that has been assigned by an internet access provider, service provider, or other online organization that is responsible for assigning email addresses for the domain associated with the submitted email address. Said owner must comply with these Official Rules, be the person who completed the act of entering, and, in Sponsor’s sole discretion, may be required to provide proof of ownership of the email account.

			strong 8. Disclaimers: 
			| Sweepstakes Entities are not responsible or liable for entries that are entered by other than human means (such as by an automated computer program or any non-human mechanism, entity, or device), in excess of the stated limit, or for Entries that are illegible, late, tampered with, forged, incomplete, misdirected, deleted, damaged, lost, misplaced, stolen, destroyed, or otherwise not in compliance with these Official Rules and such Entries will be disqualified. By entering the Sweepstakes, entrants agree and acknowledge that the Sweepstakes Entities shall have no responsibility or liability (including, but not limited to, liability for any property loss, damage, personal injury or death) in connection with: participation in this Sweepstakes; human error; incorrect or inaccurate transcription of Comment/Hint; acceptance/possession, use/misuse, and/or defects of the prize(s) awarded herein; typographical errors in Sweepstakes promotional material; including, but not limited to, disputes over Posts/Comments/Hints; ambiguous Posts/Hints; any technical malfunctions of the telephone network, computer online system, computer dating mechanism, computer equipment, software, or internet service provider utilized by Sweepstakes; interruption or inability to access the Sweepstakes, the Instagram Site, or any online service via the internet due to hardware or software compatibility problems; any damage to entrant’s (or any third person’s) computer and/or its contents related to or resulting from any part of this Sweepstakes; and/or any fraudulent (including unauthorized) voucher uses made with lost, stolen or misappropriated vouchers, incomplete (including inaccurate) voucher database information and canceled voucher amounts or expired vouchers; and/or cancellations, delays and/or policies that may affect winner’s and/or guest(s) travel, or any change by the lodging facilities or any other company or any other persons providing any components of the prize for a winner and his/her guest(s) due to reasons beyond Sponsor’s and/or Sweepstakes Entities control even if caused by the negligence of one of the Sweepstakes Entities. Entrants further agree to indemnify and hold harmless the Sweepstakes Entities from any and all liability resulting or arising from the Sweepstakes, and hereby acknowledge that said Sweepstakes Entities have neither made nor are in any manner responsible or liable for any warranty, representation or guarantee, express or implied, in fact or in law, relative to any prize, including express warranties provided exclusively by a prize supplier that are sent along with a prize. Sweepstakes Entities shall not be liable for any injury, damage, loss, expense, accident, delay, inconvenience or irregularity that may be caused by or have contributed to (1) any wrongful, negligent or unauthorized act or omission on the part of the prize supplier or any of its agents, servants, employees or independent contractors, (2) any wrongful, negligent or unauthorized act or omission on the part of any other person or entity not an employee of Sponsor, or (3) any other cause, condition or event whatsoever beyond the control of Sponsor or its parents, subsidiaries and affiliated companies. The failure of Sponsor to comply with any provision of these Official Rules due to an act of God, hurricane, war, fire, riot, earthquake, terrorism, act of public enemies, actions of governmental authorities outside of the control of Sponsor (excepting compliance with applicable codes and regulations) or other force majeure event will not be considered a breach of these Official Rules.

			strong 9. GOVERNING 
			| LAW, JURISDICTION, ARBITRATION: Any controversy or claim arising out of or relating to (i) the Sweepstakes, (ii) the awarding or redemption of any prize, and/or (iii) the determination of the scope or applicability of these Official Rules or their enforcement or interpretation shall be governed by and construed in accordance with the substantive laws of the state of Connecticut without giving effect to any choice of law or conflict of law rules or provisions that would cause the application of any other state’s laws. Any controversy or claim arising out of or relating to this agreement, its enforcement, arbitrability or interpretation shall be submitted to final and binding arbitration, to be held in Fairfield County, Connecticut, before a single arbitrator. The arbitrator shall be selected by mutual agreement of Sponsor(s) and the entrant or entrants bringing forth the controversy or claim (collectively, the “Parties”) or, if the Parties cannot agree, then by striking from a list of arbitrators supplied by the American Arbitration Association or JAMS/Endispute. The arbitration shall be a confidential proceeding, closed to the general public. The arbitrator shall issue a written opinion stating the essential findings and conclusions upon which the arbitrator’s award is based. The Parties will share equally in payment of the arbitrator’s fees and arbitration expenses and any other costs unique to the arbitration hearing (recognizing that each side bears its own deposition, witness, expert and attorneys’ fees and other expenses to the same extent as if the matter were being heard in court). Entrant(s) agrees that his/her claim will be resolved individually, exclusively by arbitration, without resort to any form of class action. Entrant(s) further agrees that any claim/judgment/award in such arbitration shall be limited to actual out-of-pocket costs incurred, including costs associated with participating in the Sweepstakes but in no event attorneys' fees; and, under no circumstances, will an entrant(s) be entitled to awards for and entrant(s) hereby waives all rights to claim punitive, incidental and consequential damages and any other damages, other than for actual out-of-pocket expenses, and any and all rights to have damages multiplied or increased. Should any term of this section be deemed void, unenforceable or contrary to law, such term shall, but only to the extent necessary to bring this section within the requirements of law, be deemed to be severed from the other terms of these Official Rules, and the remainder of these Official Rules shall be given effect as if it had not included the severed term herein. THE PARTIES HEREBY WAIVE THEIR RIGHT TO JURY TRIAL WITH RESPECT TO ALL CLAIMS AND ISSUES ARISING OUT OF OR RELATING TO THIS AGREEMENT WHETHER SOUNDING IN CONTRACT OR TORT, AND INCLUDING ANY CLAIM FOR FRAUDULENT INDUCEMENT THEREOF.

			strong 10. Names of Winners: 
			| To receive the winners’ list or an additional copy of these Official Rules, send a self-addressed stamped envelope to: #RoomWithAView Sweepstakes “Social Media Winner’s List” or “Social Media Sweeps Rules” (specify which), 800 Connecticut Avenue, Norwalk, CT 06854. All requests must be received by November 27, 2015. The Official Rules will be available on the Instagram Site and/or online during the entire Sweepstakes Name of winners may also be posted on the Instagram Site.

			strong 11. Sponsor: 
			| Priceline.com Incorporated, 800 Connecticut Avenue, Norwalk, CT 06854.
			small ©2015 Enteractive Solutions Group, Inc. Participants may copy these Official Rules for personal use only and not for any commercial purpose whatsoever. All rights reserved.


block footer	