a
	reset-link()
	cursor pointer
	text-decoration none
	transition all 0.2s ease
	border-bottom 1px solid currentColor
	&:focus
		outline: 0
	&:link
		color white
	&:hover
		color white
		opacity 0.9
	&:active
		color white
		transform scale(0.99)
		transform-origin 50% 50%
	&[disabled]
		color gray !important
		transform scale(1) !important
	&:visited
		color white

.button,
a.button
	background-color blue
	color white
	padding 21px 24px
	border-radius 10px
	fs(18px)
	margin-top 6px
	upcase()
	display inline-block
	font-family regular
	white-space nowrap
	&.instabutton
		background-color white
		border 1px solid black
		padding 16px 16px 16px 20px
		fs(18px)
		upcase()
		color black
		border-radius 25px
		font-family boldcond
		+below(960px)
			color blue
			border none
