a
	reset-link()
	cursor pointer
	text-decoration none
	transition all 0.2s ease
	border-bottom 1px solid currentColor
	&:focus
		outline: 0
	&:link
		color blue
	&:hover
		color blue
		opacity 0.9
	&:active
		color blue
		transform scale(0.99)
		transform-origin 50% 50%
	&[disabled]
		color gray !important
		transform scale(1) !important
	&:visited
		color blue
.bg--black
	a
		&:focus
			outline: 0
		&:link
			color white
		&:hover
			color blue
			opacity 0.9
		&:active
			color white
			transform scale(0.99)
			transform-origin 50% 50%
		&[disabled]
			color gray !important
			transform scale(1) !important
		&:visited
			color white
		
.button,
a.button
	background-color blue
	color white
	padding 21px 24px
	border-radius 10px
	fs(18px)
	margin-top 6px
	upcase()
	display inline-block
	font-family regular
	white-space nowrap
	transition 0.3s ease
	&:hover
		background-color darken(blue,20%)
	&.instabutton
		background-color white
		border 1px solid black
		padding 12px 16px 12px 16px
		opacity 1
		fs(18px)
		upcase()
		color black
		border-radius 25px
		font-family boldcond
		&:hover
			background-color #f0f0f0
		+below(1080px)
			color blue
			border none
			fs(14px)
		+below(420px)
			fs(12px)
			padding 12px 12px 12px 14px
